.header{
    background-image: linear-gradient(15deg, #1685c5 0%, #15c2ae 100%);
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    
}
.header h2{
    letter-spacing: 5px;
    cursor: pointer;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.nav-links li{
    padding: 0 30px;
    list-style: none;
    text-decoration: none;
    display: block;
    transition: all 0.35 ease-out;
}
.nav-links li:hover{
    transform: rotate(6deg);
  }